{% extends "base.html" %}

{% block body-class %}centred-wtf add-habit{% endblock %}

{% block title %}Add a habit{% endblock %}
{% block body %}
  <div class="copy">
    <h1>What habit are you trying to form?</h1>

    <form id="add-habit-form" method="POST" action="">
      {% csrf_token %}
      {{ wizard.management_form }}
      <p>
        <label for="id_habit-description">I want to {{ form.description }}</label>,
        <label for="id_habit-target_value">{{ form.target_value }} times</label>
        <label for="id_habit-resolution">per {{ form.resolution }}</label>
      </p>
      <div class="form-continue">
        <button type="submit" class="progress">Next</button>
      </div>
    </form>
  </div>
{% endblock %}
