{% extends "base.html" %}
{% load humanize_repetition %}

{% block body-class %}add-habit-summary{% endblock %}
{% block title %}Add a habit{% endblock %}
{% block body %}
  <h1>So, here&rsquo;s the habit you want to establish:</h1>

  <blockquote>
    <p>I want to <em>{{ habit.description }}</em>, {% humanize_repetition habit %}</p>
  </blockquote>
  <form action="{% url 'add_habit_step' step='habit' %}" method="POST" class="edit">
    {% csrf_token %}
    {{ wizard.management_form }}
    <button type="submit">Edit this habit</button>
  </form>
  {% if reminder.trigger %}
    <p>And your email reminder for your trigger is:</p>
    <blockquote>
      <p>When I <em>{{ reminder.trigger }}</em>, then I <em>{{ habit.description }}</em></p>
    </blockquote>
  {% endif %}
  <form action="{% url 'add_habit_step' step='reminder' %}" method="POST" class="edit">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if reminder.trigger %}
    <button type="submit">Edit this reminder</button>
    {% else %}
    <button type="submit">Add a reminder</button>
    {% endif %}
  </form>
  <div class="form-continue">
    {% if not user.is_authenticated %}
    <p>
      Save your account by entering your email address&mdash;you’ll
      get emails to help you track your progress.
    </p>
    {% endif %}
    {% if form.email.errors %}
    <p class="alert"><strong>
      We need a valid email address to track your progress
    </strong></p>
    {% endif %}
    <form method="POST" action="" id="summary-form">
      {% csrf_token %}
      {{ wizard.management_form }}
      {% if not user.is_authenticated %}
      <p><label for="id_summary-email">
        My email is
        <input type="text" name="summary-email" id="id_summary-email">
        <b>({{ form.email.errors.as_text }})</b>
      </label></p>
      {% endif %}
      <button type="submit" class="progress">Finish!</button>
    </form>
  </div>
{% endblock %}
