{% extends "base.html" %}

{% block body-class %}centred-wtf add-trigger{% endblock %}
{% block title %}Add a habit{% endblock %}

{% block body %}
  <div class='copy'>
    
    <h1>Triggers</h1>

    <p>Starting a new habit is about adding it to your daily routine. If you
    associate a regular task with your new habit (ie. <a href="">creating a
    trigger</a>), you’ll find it easier to adopt.</p>

    <p class='highlight'>
      <span class='trigger'>
        eg. After you
        <strong>put your cereal bowl in the sink</strong>
          <span class='term-explanation'>
            <b> (the</b> trigger<b>),</b>
          </span>
      </span>
      <span class='habit'>then you
        <strong>brush your teeth</strong>
        <span class='term-explanation'>
          <b> (the</b> habit<b>).</b>
        </span>
      </span>
    </p>
    
    <p>We can email you a reminder about your trigger.</p>
    
    <form id='reminder-form' action='' method='POST' class='reminder'>
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
      {% endfor %}
      
      {% if user.is_authenticated %}
        <input id='id_add_habit_wizard-current_step'
               name='add_habit_wizard-current_step'
               type='hidden' value='reminder'>
      {% else %}
        <input id='id_onboarding_wizard-current_step'
               name='onboarding_wizard-current_step'
               type='hidden' value='reminder'>
      {% endif %}
      
      <fieldset class='trigger-text'>
      {% if not user.is_authenticated %}
        <p>
         <label for='id_reminder-email'>My email is</label>
         {{ form.email }}
        </p>
      {% endif %}
      <h2>My trigger reminder:</h2>
      <p>
       <label for='id_reminder-trigger'>When I</label>
       {{ form.trigger }},
       then I <q>{{ habit.description }}</q>.
      </p>
      </fieldset>
      
      <fieldset class='trigger-time'>
        <legend>Send reminder</legend>
        <h2>When should we send this?</h2>
        <div class='columnar'>
          <span>Every</span>
          {{ form.days }}
        </div>
        <p>
          <label for="id_reminder-hour">at</label> {{ form.hour }}
          <!-- GMT or GTFO -->
        </p>
      </fieldset>
      <div class='form-continue'>
        <button type='submit' class='progress'>Remind me</button>
      </div>
    </form>
    
    <form id="skip-reminder-form" action="{% url 'add_habit_step' step='summary' %}" method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.as_hidden }}
        <p>
            <button type='submit'>Skip this step</button>
        </p>
    </form>
</div>
{% endblock %}
