html {
    background:             #f0eee2;
}

/*  There should be an element for marking up assistive text.
 *  Until there is, we use <b> because it is NOT EXACTLY USEFUL.
 */
b {
    position:               absolute;
    left:                   -9999px;
}
