header {
    background:             $darkest_body_colour;
    font-size:              16px;
    font-size:              1.6rem;
    margin-bottom:          30px;
    padding:                7px 0;
}
header div {
    @extend .contain;
    position:               relative;
}
header h1 {
    float:                  left;
    margin-bottom:          -22px;
}
header form {
    float:                  right;
}
header button {
    background:             none;
    border:                 none;
    bottom:                 -4px;
    color:                  $links_colour;
    font-size:              100%;
    padding:                20px 0 0;
    position:               absolute;
    right:                  0;
}
header button:hover,
header button:focus {
    color:                  $links_active_colour;
    cursor:                 pointer;
    text-decoration:        underline;
}