/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

header {
    background:             $darkest_body_colour;
    font-size:              16px;
    font-size:              1.6rem;
    margin-bottom:          30px;
    padding:                7px 0;
}
header div {
    @extend .contain;
    position:               relative;
}
header h1 {
    float:                  left;
    margin-bottom:          -22px;
}
header .login-out {
    bottom:                 -5px;
    color:                  $links_active_colour;
    float:                  right;
    position:               absolute;
    right:                  0;
}
header button {
    background:             none;
    border:                 none;
    color:                  $links_colour;
    font-size:              100%;
    padding:                20px 0 0;
}
header button:hover,
header button:focus {
    cursor:                 pointer;
    text-decoration:        underline;
}

#breadcrumb {
    @extend                 .contain;
    margin-bottom:          36px;
}
#breadcrumb a {
    background:             $darker_body_colour;
    color:                  $links_colour;
    padding:                12px 24px;
    border-radius:          3px;
}