/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

@font-face {
    font-family:            'Ubuntu';
    src:                    url('/static/font/Ubuntu-R.ttf') format('truetype');
    font-weight:            normal;
}
@font-face {
    font-family:            'Ubuntu';
    src:                    url('/static/font/Ubuntu-B.ttf') format('truetype');
    font-weight:            bold;
}

html {
    font-size:              10px;
}
body {
    font-family:            'Ubuntu';
    font-size:              24px;
    font-size:              2.4rem;
    line-height:            1.5;
    color:                  #333;
}

.copy h1 {
    font-weight:            bold;
    font-size:              36px;
    font-size:              3.6rem;
    color:                  $header_colour;
    margin:                 30px 0;
}
body.centred-wtf .copy h1 {
    text-align:             center;
}
.copy h2 {
    font-weight:            bold;
    font-size:              28px;
    font-size:              2.8rem;
    color:                  $header_colour;
    margin:                 30px 0;
}
.copy h3 {
    font-weight:            bold;
    margin:                 30px 0;
}
.copy p {
    margin:                 30px 0;
}
.highlight {
    background-color:       $darker_body_colour;
    padding:                20px;
}

a {
    color:                  $links_colour;
    text-decoration:        none;
}
a:visited {
    color:                  $secondary_action_colour;
    text-decoration:        underline;
}
a:hover, a:focus {
    color:                  $links_active_colour;
    text-decoration:        underline;
}

q {
    font-weight:            bold;
}
q:before {
    content:                '“';
    font-weight:            normal;
}
q:after {
    content:                '”';
    font-weight:            normal;
}

.progress {
    background:             $button_colour;
    border-radius:          5px;
    border:                 0;
    cursor:                 pointer;
    min-width:              200px;
    padding:                10px 20px;
    font-size:              24px;
    font-size:              2.4rem;
    font-weight:            normal;
    color:                  white;
}
.progress:visited {
    color:                  white;
}
.progress:focus,
.progress:hover,
.progress:active {
    background:             $button_active_colour;
    text-decoration:        none;
}
button.jeffd {
    background:             $links_active_colour;
    text-decoration:        underline;
}

button.meh {
    background:             $meh_button_colour;
}
button.meh:active,
button.meh:focus,
button.meh:hover,
button.meh.jeffd {
    background:             $meh_button_active_colour;
}

.secondary-action {
    color:                  $secondary_action_colour;
}
.error {
    color:                  $error_colour;
}
select {
    border:                 1px solid $button_colour;
}
.alert {
    background:             $alert_colour;
    font-weight:            bold;
    margin:                 15px 0 -10px;
    padding:                20px 40px;
}
