/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

$header_colour:             #3d1e4e;
$header_secondary_colour:	#333;

$links_colour:              #438ab8;
$links_active_colour:       #246893;

$lighter_copy_colour: 	    #68665c;

$button_colour:             #e7368e;
$button_active_colour:      #ae1f66;
$action_colour:             #e7368e;

$secondary_action_colour:   #8d3d88;

$meh_button_colour:         #999;
$meh_button_active_colour:  #777;

$error_colour:              #eb2a2e;

$highlight_colour:          #ed913e;
$highlight_colour_b:        #ea9a88;

$positive_colour:           #92c989;

$alert_colour:              #e9c62d;

$body_colour:               #f0eee2;
$darker_body_colour:        #e4e1d5;

$darkest_body_colour:       #d7d4c6;

$footer_colour:             #3c1e4e;

$border_radius:             5px;

