.add-habit #id_habit-description {
    width:                  8em;
}
.add-habit #id_habit-target_value {
    padding-left:           0.2em;
    width:                  1.3em;
}
.add-habit .form-continue {
    border-top:             1px solid $darker_body_colour;
    padding-top:            30px;
    text-align:             center;
}
