.edit-habit{
	@extend .contain;
}

.edit-habit #id_description {
    width:                  8em;
}
.edit-habit #id_target_value {
    padding-left:           0.2em;
    width:                  1.3em;
}

.edit-habit p {
	@extend .contain;
	border-radius:			$border-radius;
	padding:				15px;
	background-color:		$darker_body_colour;
	line-height:			2;
}

.edit-habit fieldset.trigger-time {
    border-bottom:          0;
}
.edit-habit fieldset.trigger-time p {
    background:             transparent;
    padding:                0;
}

.edit-habit .progress{
	float:					right;
}

.edit-habit input,
.edit-habit select{
	font-weight:			normal;
}

.edit-habit-header {
    position:		    relative;
}
.edit-habit-header form.archive {
    position: 		    absolute;
    top:		    0;
    right:	   	    0;
}
