{% extends "base.html" %}

{% block title %}Password reset{% endblock %}
{% block body-class %}login{% endblock %}
{% block main-class %}copy{% endblock %}

{% block body %}
  <h1>Password reset</h1>

  {% if validlink %}
    <p class="advisory">Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="post" class="login">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit' class='progress'>Change</button>
    </form>
  {% else %}
    <p class="advisory">
      The password reset link was invalid, possibly because it has already been used.
      <a href="{% url "account_forgotten" %}">Try again?</a>
    </p>
  {% endif %}
{% endblock %}
