{% extends "base.html" %}

{% block title %}New password{% endblock %}
{% block body-class %}login{% endblock %}
{% block main-class %}copy{% endblock %}

{% block body %}
  <h1>New password</h1>

  <p>
    If you've only logged in by email, you need to create a password to log in.
    You can also reset your password here if you've forgotten it.
  </p>

  <form action='' method='POST' class='login'>
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
    {% endfor %}
    <button type='submit' class='progress'>Send me instructions</button>
  </form>
{% endblock %}
