{% extends "base.html" %}
{% block title %}Account settings{% endblock %}

{% block body %}
  <h2>Email address</h2>
  <p>
    Hi! Your email address is <strong>{{ user.email }}</strong>. If you want to
    change it you should get in touch.
  </p>

  {% if user.has_usable_password %}
    <h2>Password</h2>
    <p>
      <a href='{% url 'password_change' %}'>Change your password</a>.
    </p>
  {% endif %}

  <h2>Ask me by email to input data</h2>
  <form method='POST' action='' id='settings-form'>
    {% csrf_token %}
    {{ form.management_form }}
    <ul>
      {% for subform in form %}
        <li>
          <label for='{{ subform.send_data_collection_emails.auto_id }}'>
            <b>Remind me to input data for</b>
            <q>{{ subform.instance.description }}</q>
          </label>
          {{ subform.send_data_collection_emails }}
          {{ subform.id }}
        </li>
      {% endfor %}
    </ul>
    <button type='submit'>Update it</button>
  </form>
{% endblock %}
