{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block body-class %}home{% endblock %}

{% block body %}
{# TODO: Logged out homepage #}

  
  <div class="welcome">
    <img src="/static/images/welcome_cycle@2x.png" height="210" width="210">
    <h1 class="">Forget goals. <em>Form habits.</em></h1>
    <p>Visualize your progress and create smart reminders.</p> 
  </div>
  
 <section class="quickstart">
    <h2 class="minor-heading">What habit are you trying to form?</h2>
    <form action="{% url 'add_habit' %}" method="get">
      {% csrf_token %}
      <p>
        <label for="habit-description">
          I want to <input type="text" name="habit-description" id="habit-description">
        </label>,
        <label for="habit-target_value">
          <input type="text" name="habit-target_value" id="habit-target_value"> times
        </label>
        <label for="habit-resolution">
          per {{ form }}
        </label>
      </p>
      <button type="submit" class="progress">Get started!</button>
    </form>
  </section>

  <section class="examples">
    <h2 class="minor-heading">Example Stories</h2>
    <div class="example">
        <img src="/static/images/home_example_teeth@2x.png" height="150" width="222">
        <p>Stephanie uses Habitually to <strong>brush her teeth</strong> right after she <strong>eats breakfast</strong>.</p>
    </div>
    <div class="example">
        <img src="/static/images/home_example_cycle@2x.png" height="150" width="222">
        <p>George <strong>cycles to work daily</strong> thanks to reminders from Habitually. Neat.</p>
    </div>
    <div class="example">
        <img src="/static/images/home_example_you@2x.png" height="150" width="222">
        <p>You <strong>change your routine</strong> slightly and <strong>form new habits</strong>. Because awesome.</p>
    </div>
  </section>
  
  <h2 class="minor-heading">That's really all there is! <button class="progress">Get Started!</button></div>

{% endblock %}
