{% extends "base.html" %}
{% load humanize_repetition %}
{% block body-class %}dashboard{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
<section id="progress">
  <h1>Progress</h1>
  <!-- TODO: Insert visualisation here -->
  <img alt="You're doing pretty well. But this should say somethign better." src="#TODO">
</section>

<section id="habits">
  <h1>Habits</h1>

  <ul>
  {% for habit in habit_list %}
    {% if habit.archived %}
    <li class="archived">
    {% else %}
    <li>
    {% endif %}
      <h2><q>{{ habit.description }}</q>
        {% humanize_repetition habit %}
      </h2>

      <div class="actions">
        {% if not habit.archived %}
        {# TODO: Add habit descriptions to enter data/edit habit links? #}
        <a href="{% url "habit_record" pk=habit.id %}"><img src="/static/images/log-action@2x.png" alt="Enter data for {{ habit.description }}" width="44" height="44"></a>
        <a href="#TODO"><img src="/static/images/edit@2x.png" alt="Edit {{ habit.description }}" width="44" height="44"></a>
        {% else %}
        <form method="POST" action="{% url "habit_archive" pk=habit.id %}">
          {% csrf_token %}
          <input type="hidden" name="archive" value="0">
          <button type="submit" class="progress">Revive</button>
        </form>
      {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
  <div class="add-habit">
    <a href="{% url 'add_habit' %}">Add new habit</a>
  </div>
</section>
{% endblock %}
