{% extends "base.html" %}
{% load staticfiles %}
{% load humanize_repetition %}
{% block body-class %}dashboard{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
<section id="progress">
  <h1>Progress</h1>

  <div id="visualisation"></div>
</section>

<section id="habits">
  <h1>Habits</h1>

  <ul>
    {% for habit in habit_list %}
    <li {% if habit.archived %}class='archived'{% endif %}>
      <h2>
        <q>{{ habit.description }}</q>
        {% humanize_repetition habit %}
      </h2>
      
      <div class="actions">
        {% if not habit.archived %}
          {% if not habit.is_up_to_date %}
            <a href='{% url "habit_record" pk=habit.id %}'>
              <img src='{% static "images/log-action@2x.png" %}'
                   alt='Enter data for {{ habit.description }}'
                   width='44' height='44'></a>
          {% else %}
            <img src='{% static "images/logged-action@2x.png" %}'
                 alt='Data entered for {{ habit.description }}'
                 width='44' height='44'>
          {% endif %}
          <a href="{% url 'habit_edit' pk=habit.id %}"><img src="{% static "images/edit@2x.png" %}" alt="Edit {{ habit.description }}" width="44" height="44"></a>
        {% else %}
          <form method="POST" action="{% url "habit_archive" pk=habit.id %}">
            {% csrf_token %}
            <input type="hidden" name="archive" value="0">
            <button type="submit" class="progress">Revive</button>
          </form>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="add-habit">
    <a href="{% url 'add_habit' %}">Add new habit</a>
  </div>
</section>

<a href="{% url 'hobbit' %}" id="hobbit"><img src="{% static "images/ring@2x.png" %}" alt="" height="25" width="25"></a>
{% endblock %}

{% block javascript-asynchronous %}
  <script type="text/javascript" src="{% static "js/raphael-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/visualisation.js" %}"></script>
  <script type="text/javascript">
    $.getJSON('{% url "habit_performance" %}', function(data) {
      var habits = data.habits.slice(0,3);

      var objects = [
        new Ring(140, '#d4d8d2', true,  [6]),
        new Ring(110, '#4389b8', false, [2]),
        new Ring(100, '#4389b8', true,  [4]),
      ];

      map(habits, function(habit, i) {
        var dots = map(habit.recent_buckets, function(n,i) {
          return n < habit.target_value ? null : i * 1/habit.recent_buckets.length;
        });
        dots = filter(dots, function(n) { return typeof n === 'number' });

        var orbital = new Orbital(150 + 10*i, '#f9c32c', dots, [1]);
        objects.push(orbital);
      });

      var canvas = new Canvas('visualisation', 480, 480);
      map(objects, function(r) { r.renderOn(canvas) });
      canvas.play({from: 1, to: 0.05, tick: 20, easing: new Easing.Exponent(4)});
    });
  </script>
{% endblock %}
