{% extends "emails/base.html" %}

{% block content %}
    <p>You said you wanted to:</p>
    <blockquote>{{ habit.description }}</blockquote>
    <p>and that we should remind you when you:</p>
    <blockquote>{{ habit.reminder }}</blockquote>
{% endblock %}

{% block why %}
  <p>You received this email because you are building a habit with <a href='{{ protocol }}://{{ domain }}/'>{{ site_name }}</a> and you've asked us to remind you. If you don't want to receive these emails any more, you can <a href='{{ protocol }}://{{ domain }}{{ unsubscribe_url }}'>change your reminder settings for this habit</a>.</p>
{% endblock %}
