{% extends "base.html" %}
{% block title %}Good Job!{% endblock %}
{% block main-class %}copy{% endblock %}

{% block body %}
  <h1>Edit Action <button class="progress meh">TODO: Put to rest</button></h1>

<form id="edit-habit-form" action="" method="POST" class="edit-habit">
    {% csrf_token %}
      {% if form.errors %}
          <p class="alert">
            <strong>
              {% if form.errors.description %}
                "I want to" {{ form.errors.description.as_text }} <br>
              {% endif %}
              {% if form.errors.target_value %}
                "times" {{ form.errors.target_value.as_text }} <br>
              {% endif %}
              {% if form.errors.resolution %}
                "per" {{ form.errors.resolution.as_text }} <br>
              {% endif %}
            </strong>
          </p>
      {% endif %}
      <fieldset class='trigger-time'>
        <legend>Send reminder</legend>
        {{ form.reminder }}
        <h2>When should we send this?</h2>
        <div class='columnar'>
          <span>Every</span>
          {{ form.reminder_days }}
        </div>
        <p>
          <label for="id_reminder-hour">at</label> {{ form.reminder_hour }}
          <!-- GMT or GTFO -->
        </p>
      </fieldset>
    <p>
      <label for="id_description">I want to {{ form.description }}</label>,<br>
      <label for="id_target_value">{{ form.target_value }} times</label>
      <label for="id_resolution">per {{ form.resolution }}</label>
      <br>
      <button type='submit' class="progress">Save</button>
    </p>
</form>

<button>TODO: delete habit button</button>

{% endblock %}
