{% extends "base.html" %}
{% block title %}Good Job!{% endblock %}

{% block body %}
  <h1>Edit Action <button>TODO: Put to rest</button></h1>

<form id="edit-habit-form" action="" method="POST" class="add-habbit">
    {% csrf_token %}
    <p>
      {% if form.errors %}
          <p class="alert">
            <strong>
              {% if form.errors.description %}
                "I want to" {{ form.errors.description.as_text }}
              {% endif %}
              {% if form.errors.target_value %}
                "times" {{ form.errors.target_value.as_text }}
              {% endif %}
              {% if form.errors.resolution %}
                "per" {{ form.errors.resolution.as_text }}
              {% endif %}
            </strong>
          </p>
      {% endif %}

      <label for="habit-description">I want to {{ form.description }}</label>,
      <label for="habit-target_value">{{ form.target_value }} times</label>
      <label for="id_habit-resolution">per {{ form.resolution }}</label>
    </p>
    <p>
      <button type='submit'>Save</button>
    </p>
</form>

<form>
  TODO: Trigger reminder edit
</form>

<button>TODO: delete habit button</button>

{% endblock %}
