{% extends "base.html" %}
{% block title %}About Be Habitual{% endblock %}
{% block body %}
<div class="copy">
<h1>About Be Habitual</h1>

<p>Be Habitual is a simple web app that helps you establish the habits you want in your life. It helps you identify the trigger you need to make a habit stick, set up reminders and track your progress along the way.</p>

<h1>Suggested Reading</h1>

<p><a href="http://charlesduhigg.com/the-power-of-habit/">The Power of Habit</a> by Charles Duhigg.</p>

<h1>The Team</h1>
<p><a href="http://tartarus.org/james/">James Aylett</a>, <a href="https://twitter.com/ashberlin">Ash Berlin</a>, <a href="http://georgebrock.com/">George Brocklehurst</a>, <a href="http://jcoglan.com/">James Coglan</a>, <a href="http://marknormanfrancis.com/">Mark Norman Francis</a>, <a href="http://work.chrisgovias.com/">Chris Govias</a>, <a href="http://stephaniehobson.ca/">Stephanie Hobson</a>, <a href="http://nascentguruism.com/">Steve Marshall</a>, <a href="https://twitter.com/mnowster">Mazz Mosley</a>, <a href="http://gavinocarroll.com/">Gavin O'Carroll</a>, <a href="http://lindasandvik.info/">Linda Sandvik</a>, <a href="http://www.annashipman.co.uk/">Anna Shipman</a>, <a href="https://twitter.com/nickstenning">Nick Stenning</a>.</p>

<h1>Made in a fort</h1>

<p>Yes, you read that right. Be Habitual is a <a href="http://devfort.com/">/dev/fort</a> project, meaning that the inital work was done in a week in isolation in a fort: <a href="http://www.flickr.com/photos/steviebm/8565761517/in/photostream">Fort Clonque</a> on the island of Alderney. For eight days we lived and worked together, spending most of our time in two communal rooms and sometimes <a href="http://www.flickr.com/photos/jaylett/8568160542/in/photostream">working from the roof</a>, before getting trapped on the island during the worst snow storm the Channel Islands have seen in 30 years. Seriously, <a href="http://instagram.com/p/W4TxbKsorj/">horizontal snow</a>.</p>
</div>
{% endblock %}
