{% extends "cape_shell.html" %}

{% block head-css %}
  <link rel='stylesheet' href='/static/hobbit.css' media='screen'>
{% endblock %}

{% block body-sheath %}
  <header>
    <div>
      <h1>
        <a href="{% url 'homepage' %}">
          <img src="/static/images/logo@2x.png"
               alt="Habitually"
               height="51" width="144">
        </a>
      </h1>
      {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="POST" class="login-out">
        {% csrf_token %}
        <button type="submit">Sign out</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" class="login-out">Sign in</a>
      {% endif %}
    </div>
  </header>
  <div id="main"><div id="main-inner">
    {% if user.is_authenticated and not view.is_dashboard %}
      <div id='breadcrumb'>
        <a href='{% url "homepage" %}'>Dashboard</a>
      </div>
    {% endif %}
    
    {% block body %}{% endblock %}
  </div></div>
  <footer><div>
    <p>&copy; 2013</p>
    <p>A <a href="http://devfort.com/">/dev/fort</a> project</p>
    <a href="#TODO" class="contact">Contact us</a>
  </div></footer>
{% endblock %}