{% extends "cape_shell.html" %}
{% load staticfiles %}

{% block head-css %}
  <link rel='stylesheet' href='{% static "hobbit.css" %}' media='screen'>
{% endblock %}

{% block body-sheath %}
  <header>
    <div>
      <h1>
        <a href="{% url 'homepage' %}">
          <img src="{% static "images/logo@2x.png" %}"
               alt="Be Habitual"
               height="51" width="144">
        </a>
      </h1>
      {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="POST" class="login-out">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" class="login-out">Login</a>
      {% endif %}
    </div>
  </header>
  <div id="main" class='{% block main-class %}{% endblock %}'><div id="main-inner">
    {% if user.is_authenticated and not view.is_dashboard %}
      <div id='breadcrumb'>
        <a href='{% url "homepage" %}'>Dashboard</a>
      </div>
    {% endif %}
    
    {% block body %}{% endblock %}
  </div></div>
  <footer><div>
    <p>&copy; 2013</p>
    <p>A <a href="http://devfort.com/">/dev/fort</a> project</p>
    <a href="#TODO" class="contact">Contact us</a>
  </div></footer>
{% endblock %}

{% block javascript-libraries %}
  <script src='{% static "js/jquery-1.9.1.min.js" %}'></script>
  <script>
    window_height = $(window).height();
    header_height = $('header').height();
    $('#main').css('min-height', window_height - (header_height*5));
  </script>
{% endblock %}

{% block javascript-asynchronous %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endblock %}
