{% extends "base.html" %}

{% block body-class %}hobbit{% endblock %}

{% block body %}
<div class="copy">
<h1><img src="/static/images/hobbitually@2x.png" alt="Hobbitually" width="600" height="186"></h1>
<p>
  13 geeks went to live in a fort for a week. They ate good food, drank
  copious amounts of booze, and made this website.
</p>
<p>
  It turns out, however, that this environment, whilst good for building
  websites, also rots the brain to the point that, by the end of the week,
  none of them were able to distinguish between “habits” and “hobbits”,
  precious.
</p>
</div>
{% endblock %}