<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>

<section>
	<h1>Progress</h1>
	<img alt="Visual progress.">
</section>

<section>
	<h1>Habbits</h1>
    <ul>
        <li>
            <h2><q>Brush my teeth</q> once a day</h2>
            <a href="input_binary.html">Enter data</a> <a href="">Edit habbit</a>
        </li>
        <li>
            <h2><q>Eat fruit and veggies</q> 5 times a day</h2>
            <a href="input_multi.html">Enter data</a> <a href="">Edit habbit</a>
        </li>
        <li>
            <h2><q>Yoga</q> twice a week</h2>
            <a href="input_multi.html">Enter data</a> <a href="">Edit habbit</a>
        </li>
        <li>
            <h2><q>Go running</q> three times a week</h2>
            <a href="">Unarchive</a>
        </li>
	</ul>
</section>

</body>
</html>
