<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>

<h1>Site</h1>
<ul>
	<li><a href="input_binary.html">Data collection - N = 1</a></li>
	<li><a href="input_multi.html">Data collection - N > 1</a></li> 
	<li><a href="afterdata_encouragement_curated.html">Post data collection encouragement - curated</a></li>
	<li><a href="afterdata_encouragement_stats.html">Post data collection encouragement - stat</a></li>
	<li><a href="dashboard.html">Dashboard</a></li>
	<li>Edit Action</li>
    <li><a href="onboarding_setup.html">On Boarding - Set up</a></li>
    <li><a href="onboarding_trigger.html">On Boarding - Reminders</a></li>
    <li><a href="onboarding_trigger_confirm.html">On Boarding - Reminder Confirm</a></li>
    <li><a href="onboarding_summary.html">On Boarding - Summary</a></li>
</ul>

<h1>Email</h1>
<ul>
	<li><a href="email_data_binary.html">Data collection - N = 1</a></li>
	<li><a href="email_data_multi.html">Data collection - N > 1</a></li>
	<li><a href="email_data_prompt.html">Data collection - user has been away for a while</a></li>
	<li><a href="email_trigger.html">Trigger reminder (including encouragement)</a></li>
    <li><a href="email_footer.html">Email footer (for all emails)</a></li>
</ul>



</body>
</html>
