<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Data Collection - N = 1</title>
</head>
<body>

<h2>Did you <q>Brush my teeth</q></h2>

<form action="afterdata_encouragement_stats.html">
    <ul>
        <li>Yesterday?
            <input type="radio" name="130308_data" id="130308_yes"><label for="130308_yes">Yes <b>I did brush my teeth yesterday</b></label> 
            <input type="radio" name="130308_data" id="130308_no"><label for="130308_no">No</label>
            <input type="radio" name="130308_data" id="130308_dismiss"><label for="130308_dismiss">Don't ask me again</label>
        </li>
        <li>Wednesday?
            <input type="radio" name="130307_data" id="130307_yes"><label for="130307_yes">Yes <b>I did brush my teeth yesterday</b></label> 
            <input type="radio" name="130307_data" id="130307_no"><label for="130307_no">No</label>
            <input type="radio" name="130307_data" id="130307_dismiss"><label for="130307_dismiss">Don't ask me again</label>
        </li>
         <li>Tuesday? 
            <input type="radio" name="130306_data" id="130306_yes"><label for="130306_yes">Yes <b>I did brush my teeth yesterday</b></label> 
            <input type="radio" name="130306_data" id="130306_no"><label for="130306_no">No</label>
            <input type="radio" name="130306_data" id="130306_dismiss"><label for="130306_dismiss">Don't ask me again</label>
        </li>
    </ul>
    
    <button type="submit" class="action">Done</button>

</form>


</body>
</html>
