<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Data Collection - N = 1</title>
</head>
<body>

<h2>How many times did you <q>Eat fruits and veggies</q>?</h2>

<form action="afterdata_encouragement_stats.html">
    <ul>
        <li><label for="130308_data"><b>How many times did you <q>eat fruits and veggies</q> </b>Yesterday?</label>
           	<select name="130308_data" id="130308_data">
            	<option checked>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="checkbox" name="130308_data" id="130308_dismiss"><label for="130308_dismiss">Don't ask me again</label>
        </li>
        <li><label for="130307_data"><b>How many times did you <q>eat fruits and veggies</q> </b>Wednesday?</label>
           <select name="130307_data" id="130308_data">
            	<option checked>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="checkbox" name="130307_dismiss" id="130307_dismiss"><label for="130307_dismiss">Don't ask me again</label>
        </li>
         <li><label for="130306_data"><b>How many times did you <q>eat fruits and veggies</q> </b>Tuesday?</label>
            <select name="130306_data" id="130306_data">
            	<option checked>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="checkbox" name="130306_dismiss" id="130306_dismiss"><label for="130306_dismiss">Don't ask me again</label>
        </li>
    </ul>
    
    <button type="submit" class="progress">Done</button>

</form>

</body>
</html>
