<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>On Boarding - Summary</title>
</head>
<body>


So, here’s the habit you want to establish:

<blockquote>I want to <strong>brush my teeth</strong>, <strong>3</strong> times per <strong>day</strong>.</blockquote>
<a href="onboarding_setup.html">Edit this habit</a>

<p>And your email reminder for your trigger is</p>

<blockquote>When I close the dishwasher, then I brush my teeth.</blockquote>
<a href="onboarding_trigger.html">Edit this habit</a>

<p>Save your account by entering your email address – you’ll get emails to help you track your progress.</p>

<form class="">
	<label for="summary_id">My email</label>
    <input type="email" name="summary_email" id="summary_id">
    
    <button type="submit" class="action">Finish!</button>
</form>

</body>
</html>
