<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>On Boarding - Set Up</title>
</head>
<body>

<h2>What habit are you trying to form?</h2>

<form action="onboarding_trigger.html">
	<label for"setup_habbit">I want to</label> <input type="text" name="setup_habbit" id="setup_habbit">
    <select name="setup_times" id="setup_times">
    	<option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <label for="steup_times">times</label>
    <label for="setup_per">per</label>
    <select name="setup_per" id="setup_per">
    	<option>day</option>
        <option>week</option>
        <option>weekend</option>
        <option>work week</option>
    </select>
   	.
    <p>
    	<button type="submit" class="action">next</button>
    </p>
</form>

</body>
</html>
